.quote {
    position: absolute;
    top: 395px;
    left: 150px;
    width: 290px;
    height: 310px;
    border-radius: 18px;
    background-color: #192a32;
  }
  .hashOne {
    position: absolute;
    top: 30px;
    left: 100px;
    font-family: DM Sans;
    font-size: 26px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: 0em;
    color: #31c4be;
  }
  .message {
    position: absolute;
    top: 90px;
    left: 47px;
    width: 198px;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: #f2b237;
  }
  .ellipse {
    position: absolute;
    top: 240px;
    left: 115px;
    border: 8px solid #31c4be;
    background-color: #31c4be;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .square1 {
    position: absolute;
    top: 7px;
    left: 8px;
    width: 10px;
    height: 10px;
    background-color: black;
  }
  .square2 {
    position: absolute;
    top: 17px;
    left: 18px;
    width: 10px;
    height: 10px;
    background-color: black;
  }