/* start  */
.box {
  background-color: #192a32;
  border: 2px solid;
  border-radius: 43px;
  height: 675px;
  width: 450px;
}
.start {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.startHeader {
  position: relative;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.startPlayers {
  width: 100%;
  background-color: var(--color-bg-dark);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}
.startPlayers span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.startPlayers--active {
  background-color: #d9d9d9;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}
.startButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.copiedLink {
  position: absolute;
  width: 220px;
  height: 41px;
  top: 61px;
  left: 85.7%;
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 1px;
  text-align: center;
  color: #f2b237;
  font-weight: 800;
  border-radius: 10px 0 0 10px;
  background-color: #192a32;
  border: 2px solid black;
}
